[2015-02-26 12:23] fabian-s opened #3 "Switch to roxygen2 documentation"

[2015-02-26 12:23] fabian-s opened #4 "Use proper namespace"
Fix #3 first....

[2015-02-27 10:43] fabian-s opened #7 "change .travis.yml to use https://github.com/metacran/r-builder"
.. so we have build testing on multiple r-versions
- [ ] refund.wave
- [ ] refund

also see: http://docs.travis-ci.com/user/migrating-from-legacy/

[2015-02-27 11:15] fabian-s opened #8 "fix fpca.sc for irregular data"
see Clara Happ's (clara.happ@stat.uni-muenchen.de) example & suggested patch @ https://gist.github.com/fabian-s/2ca8573f26fef8ccef8e
see also discussion in e-mail exchange re "eigenvalues in fpca2s" Sep. 2014

[2015-02-27 20:18] huangracer opened #9 "allow an "argvals" argument to all relevant functions for consistent structure throughout the package"

[2015-02-27 20:19] huangracer opened #10 "refactor input and output argument for fosr"

[2015-02-27 20:20] huangracer opened #11 "add unit tests"

[2015-02-27 20:20] huangracer opened #12 "check & improve examples"

[2015-02-27 20:20] huangracer opened #13 "more self-contained, “mathy“ documentation"

[2015-02-27 20:21] huangracer opened #14 "reduce the number of dependencies in the packages"

[2015-02-27 20:21] huangracer opened #15 "Allow for quadrature (or something like that) to do L2 (functional) inner products rather than l2 (vector) inner products, for scalar-on-function and maybe for function-on-function."

[2015-03-02 12:19] mwmclean commented on #3
We should add R/refund-package.R file with some description of the package, too.

[2015-03-02 12:21] mwmclean commented on #3
I will take care of this switch for the functions I've contributed to the package.

[2015-03-02 14:28] fabian-s commented on #3
I'd have suggested pkg Rd2roxygen to get it done as automatically as possible. Should prob wait with this until after major re-constructive surgery on fosr etc has completed.

[2015-03-02 14:34] mwmclean commented on #3
I knew something like that had to exist and yet I didn't bother to search for it.  Good to find typos in my documentation anyway.  I've already updated all my functions in my devel branch.

[2015-03-02 14:35] fabian-s commented on #3
awesome, Matt!

[2015-03-02 14:50] fabian-s opened #17 "add vignette(s)"
- [ ] FPCs & covariance estimation
- [ ] function-on-scalar
- [ ] scalar-on-function (-> JSS paper?)

[2015-03-02 14:53] fabian-s opened #18 "add vignette(s)"
- [ ] FPCs & covariance estimation
- [ ] function-on-scalar
- [ ] scalar-on-function (-> JSS paper?)

[2015-03-02 14:53] fabian-s opened #19 "Automate `pffr.GLS` iteration"
- fosr defaults: 1 iteration, naive sample covariance
- additional args for pffr: max.iter, cov.method
- extract `mod.chol`-functionality from `fosr`, put into separate function & call from `pffr`

[2015-03-02 15:08] huangracer opened #20 "scalar-on-function regression merging"
- [x] merge pfr and fgam
- [x] renaming psfr
- [x] allowing random effects in user-friendly way
- [x] build preprocessing functions
- [x] fix issues from preprocessing
- [x] summary method (use summary.fgam?)
- [x] merge fpcr
- [ ] add fpcr crossvalidation
- [x] merge peer
- [ ] allow 2-D functional predictors (especially for `fpc` terms)
- [ ] testing for functional effects
- [ ] expand `fpc` to

[2015-03-02 15:12] huangracer commented on #20
@swihart will think about testing
Thoughts of @swihart on current implementation:  `rlrt.pfr`
1. We assume the model that the user fits is the $H_a$ model.  Then, based on a user specified option, go through the trouble of fitting $H_0$ for the desired test (the $H_0$ fit in mgcv:gam()) and then passing the necessary $H_a$ and $H_0$ stuff to RLRsim() for the p-value/test.
2.  When `rlrt.pfr` was o

[2015-03-02 15:21] #17 closed, assigned to nobody

[2015-03-02 15:22] huangracer commented on #10
mimic pffr input and output

[2015-03-02 15:25] fabian-s commented on #15
strongly related to #8 and our e-mail discussion re "eigenvalues in fpca2s" from September 2014

[2015-03-02 15:54] lxiao16 opened #21 "modify input/out formats and fix bugs in fpca.face"

[2015-03-02 19:11] huangracer commented on #9
- [x] af() change xind to argvals
- [x] amc() internal functions for fosr no argvals
- [x] ccb.fpc() no argvals
- [ ] fbps(), covariates as a list for argvals for two dimensions
- [x] fpca.ssvd(), no argvals, related to the standardized output for fpca
- [x] lf, xind to argvals
- [ ] lf.vd tind to argvals
- [x] lofocv not implemented argvals
- [ ] lpfr no argvals
- [ ] parse.predictor.pfr, no argv

[2015-03-02 19:40] huangracer commented on #9
For Note 1, add argvals but keep the original input variable and print out a note that argument name is changed.
For Note 2, add argvals but print out the warnings that it is not supported. Open an new issue for the function to implement argvals in the future.

[2015-03-02 19:51] swihart commented on #20
Simon himself admits p-values are crude and do not solve all the Var=0 testing problems.

source:  https://stat.ethz.ch/pipermail/r-help//2012-June/315348.html

Hi Martijn,

Irrespective of the p-value, 'bam' and 'lmer' agree that the variance
component for 'Placename' is practically zero. In the 'bam' output see
the 'edf' for s(Placename), or for a more direct comparison call
gam.vcomp(m1).

As m

[2015-03-02 20:34] philreiss commented on #15
Good point Fabian. So I'm going to close this issue and work on #8.

[2015-03-02 20:34] #15 closed, assigned to philreiss

[2015-03-02 20:46] fabian-s opened #23 "testing for psfr() / sofr(): RLRT & anova.gam"
Matt wrote:

Bruce wrote:

Matt wrote:

Bruce wrote:

Matt wrote:

[2015-03-02 21:00] fabian-s commented on #23
To me, the goal is not necessarily to get additional functionality if that means lots of additional implementation work.

I agree with Bruce that we'll have to wait a while until `psfr` takes shape. I agree with Matt re. warnings & documentation.

I can try to get Simon's input on this once we know what exactly it is we're trying to achieve.

[2015-03-02 21:04] fabian-s commented on #20
`re()`\- random effects implemented for `fgam` in 62145903ef7ab69953543306c08004c76d3645c3

[2015-03-02 21:08] philreiss commented on #8
This bug is just one of a number of examples in which using l2 (vector) rather than L2 (functional) inner products can cause problems. I'm working to modify fpca.sc, using Clara's fix as a starting point. Functional-predictor regression functions will need to be modified too. This issue is related to #9.

[2015-03-02 21:50] fabian-s commented on #19
backwards compatibility:
- allow for either `hatSigma` or fosr-type options
- put pffrGLS estimation into utilitiy function, call either just once for old-stlye or do cov-estimation and iteration for new `fosr`-style.

[2015-03-02 21:54] huangracer commented on #9
need new issues to support new argvals argument: ccb.fpc, fpca.ssvd

work is under devel_argvals

[2015-03-03 08:51] mwmclean commented on #11
Began using testthat at b30b0a17620578338740ae37b7b83545e75cebad

[2015-03-03 14:01] mwmclean commented on #4
Started this in my devel branch. Are matrixStats and glmnet still needed now that refund.wave exists?

[2015-03-03 14:27] fabian-s opened #24 "Standardize user-facing terminology"
Rename function args more consistently:
- [ ] call functional inputs `X`
- [ ] call functional  inputs to be predicted/interpolated/smoothed `newX`

what else?  where?

[2015-03-03 14:36] mwmclean opened #25 "export expand.call"
Do we really want to export this?

[2015-03-03 15:09] huangracer opened #26 "Add argvals support in fpca.ssvd"
It is related to issue #9

[2015-03-03 15:10] huangracer opened #27 "Add argvals support for ccb.fpc"
It is related to issue #9.

[2015-03-03 15:11] huangracer opened #28 "Add argvals support for lofocv"
It is related to #9. It can be also done when numerical integration is finished.

[2015-03-03 15:13] huangracer opened #29 "Add argvals support for peer"
This should has impact on lpeer(), plot.peer() and plot.lpeer(). #9

[2015-03-03 15:15] huangracer opened #30 "Add argvals support for pfr"
This might not be necessary when #20 is closed.
Related functions include parse.predictor.pfr(), lpfr(), preprocess.pfr().
Also related to #9

[2015-03-03 15:23] huangracer commented on #9
1. All functions are checked to see if the argvals can be added.
2. Issues are created for the functions to support the argvals.
3. pffr related functions: argvals is not implemented. since we have yind and xind, using argvals will confuse user. Better solution is needed.
4. fbps: argvals is also not implemented.
5. Internal function is not touched. argvals is mainly for the consistency from user

[2015-03-03 16:26] lxiao16 commented on #21
done

[2015-03-03 16:26] #21 closed, assigned to nobody

[2015-03-03 16:49] fabian-s opened #31 "replace getEst.R with coef method for new pfr"
use `plot.XXX.smooth` methods, see `plot.gam`?

[2015-03-03 17:05] huangracer commented on #9
merged into devel branch

[2015-03-03 17:05] #9 closed, assigned to huangracer

[2015-03-03 20:12] huangracer commented on #10
work on refactoring input of fosr under branch fosr-refactor

[2015-03-03 20:44] mwmclean opened #32 "add \dontrun Rd examples to testthat tests"
Use skip_on_cran() at start of test so they're not run on CRAN

[2015-03-03 20:45] #3 closed, assigned to fabian-s

[2015-03-03 20:45] #25 closed, assigned to nobody

[2015-03-03 20:45] #4 closed, assigned to fabian-s

[2015-03-03 21:17] philreiss opened #33 "Harmonize quadrature in fpca.sc with what's done in ff, lf, af"
fpca.sc now calls quadWeights, a new function based on Clara Happ's code, to do numerical integration. Perhaps ff, lf, af could be modified to call quadWeights as well. There's also some "disharmony" in the quadrature methods: quadWeights has "trapezoidal" and "midpoints", whereas Fabian and Matt's code has "trapezoidal", "simpson" and "riemann".

[2015-03-03 21:22] philreiss opened #34 "Merge functions for FPCA"
Currently we have fpca.sc, fpca.face and fpca.ssvd. Do we want a wrapper function that calls one of these three (along with utility functions for common parts, to avoid duplication), or one mega-function for FPCA?
@lxiao16 @huangracer @jeff-goldsmith

[2015-03-03 21:27] philreiss commented on #20
There was some discussion of incorporating FPCR terms in pfr(). This would be nice, but there are a couple of issues with that:
(1) fpcr() uses vector inner products (as in Reiss and Ogden 2007, following Marx and Eilers 1999) rather than functional inner products
(2) fpcr() has CV functionality that would be hard to incorporate in pfr().

For the time being, we should probably leave FPCR terms ou

[2015-03-03 21:58] fabian-s commented on #20
coef method for lf/af/re added in https://github.com/refunders/refund/commit/4861eb66b3deda812377760dd59cc61405845ca8

[2015-03-03 22:02] huangracer commented on #10
formula argument is added, together with data argument

[2015-03-03 22:11] huangracer commented on #8
Need to check when the current progress is documented. @philreiss

[2015-03-04 18:56] huangracer commented on #10
add example to test formula example
correct roxygen header

merged in devel branch

[2015-03-04 18:56] #10 closed, assigned to huangracer

[2015-03-05 07:58] mwmclean commented on #32
599649a862d9ca28fa39672cbd870c3427abfb4e

[2015-03-05 07:58] #32 closed, assigned to nobody

[2015-03-05 07:59] mwmclean commented on #11
Added several tests at 599649a862d9ca28fa39672cbd870c3427abfb4e

[2015-03-05 08:01] mwmclean commented on #12
Checked \dontrun examples and added them to testthat tests. Only one ccb.fpc example was not working.

[2015-03-05 08:01] mwmclean opened #35 "Add NEWS file"

[2015-03-05 21:07] huangracer opened #36 "ccb.fpc example fails"
The ccb.fpc documentation example contains a call to fpca.sc which fails, I assume this is because that function is under active development, so testthat is setup to skip the test when the fpca.sc call fails

[2015-03-06 14:49] fabian-s opened #37 "fix coefboot.pffr for irregular responses"
might be able to reuse code from https://gist.github.com/fabian-s/3a87f7653e33003ae556

[2015-03-06 22:38] jgellar opened #38 "PEER implementation in pfr()"
I realized I should be posting here instead of sending emails to 6 different people.

I implemented the svd step for `smooth.construct.peer.smooth.spec`, and it seems to be working - I basically figured this out by "guess and check". Both of the examples in the `peer()` help file seem to be working with their `pfr()` implementation. A few issues still remain:
1. Have to write the `peer()` wrapper

[2015-03-12 18:56] jgellar opened #39 "FPCR implementation in pfr()"
I've begun to think about the FPCR implementation for `pfr()`. Phil or Rayman, this is your stuff so you can of course overrule anything that I suggest.

I'm thinking of having FPC terms specified using a `fpc()` special term/function. e.g.,

[code]

From what I understand of the FPCR algorithm, first, you fit a penalized B-spline basis to each function, then you calculate the principal components

[2015-03-12 19:13] jgellar opened #40 "Down the line... fpca function?"
I don't think this wouldn't be implemented for the upcoming release, because it would take a little bit of work, but one thing I thought would be nice to have in `refund` would be an `fpca` function that returns a "fitted" `fpca` object, much like any regression function like `lm` or `pfr` does. The `fpca` function would have options to decide between different FPCA methods. The return object woul

[2015-03-15 19:42] fabian-s commented on #38
See https://gist.github.com/fabian-s/a566ddb5d8f5f17b4222 for example code.

TODOS:
- [ ] summary() doesn't work for the 2nd example
- [ ] fits are similar, but not exactly the same even with `fitter = "gamm"`: scaling of design matrix done in `gamm`?
- [ ] do more profiling to figure out run time differences

[2015-03-16 13:09] fabian-s commented on #34
@jgellar wrote in #40 :

[2015-03-16 13:09] fabian-s commented on #40
belongs in #34

[2015-03-16 13:09] #40 closed, assigned to nobody

[2015-03-19 13:46] jgellar commented on #38
Thanks for looking into this and for fixing up some of the `peer.smooth.spec` code. For those who hadn't seen, I wrote the `peer()` wrapper, and moved the old version to `peer_old`: Fabian's code references both of these functions. I built in checks to see if the old syntax is used to ensure backwards compatibility.

At ENAR earlier this week Phil, Rayman, and I talked about when the next refund r

[2015-03-19 16:28] jgellar opened #41 "Variable-domain terms/ Varying-coefficient functional terms"
One thing that I haven't fully tested with the new `pfr` is the code I wrote for variable-domain terms. I actually don't think this is even up on CRAN yet - it's been waiting to be pushed up there for awhile. Since I wrote the code I have changed my mind on how I want to implement some of the features, which would involve a pretty big re-write - one that I don't have time to do immediately.

What

[2015-05-04 01:11] jeff-goldsmith commented on #36
Just addressed this bug -- the issue was that the sparse data example includes some grid points for which no function is observed, resulting in missing values on the main diagonal of G0, the method-of-moments covariance estimator. This bug was fixed by using "na.rm = TRUE" in the sum where the measurement error variance is calculated.

[2015-05-04 01:11] #36 closed, assigned to nobody

[2015-05-04 01:11] jeff-goldsmith commented on #27
Done -- argvals is now passed to fpca.sc internally

[2015-05-04 01:11] #27 closed, assigned to nobody

[2015-05-04 01:15] jeff-goldsmith commented on #8
In updating ccb.fpc, I found that the example using fpca.sc for sparse data no longer performs well. It seems that curve-specific scores are over-shrunk towards the mean -- this is pretty obvious if you look at the results of the example analysis, which are very different from previous versions of ccb.fpc and from the paper that the function is based on.

Is the problem of over-shrinking scores re

[2015-05-04 14:01] #26 closed, assigned to nobody

[2015-05-04 16:16] huangracer commented on #28
argvals is implemented in commit 4101e6c53879db7216fa5b673b224def62b12a2d

[2015-05-04 16:16] #28 closed, assigned to nobody

[2015-05-05 08:40] fabian-s commented on #8
[code]

![image](https://cloud.githubusercontent.com/assets/998541/7469096/fd5ee750-f30f-11e4-8483-1d6c7a398aa8.png)

[code]

![image](https://cloud.githubusercontent.com/assets/998541/7469103/12b01430-f310-11e4-9ee0-14b4ca03205f.png)

Seems to me like this is unrelated to the issue of using vector norms versus function norms as the overshrinkage remains the same regardless of how  `argvals` is su

[2015-05-05 12:20] jeff-goldsmith commented on #8
Just to put a concrete example of the issue I'm talking about:

[code]

![example](https://cloud.githubusercontent.com/assets/8386439/7472263/ae23fb00-f2fe-11e4-98bb-fa5f498bbb23.png)

@fabian-s I don't think the issue is the ridge regression part -- as far as I can tell, the code for estimating scores is the same in both the `refund` and `refundDevel` versions of `fpca.sc` (that code snippet is b

[2015-05-05 15:52] fabian-s commented on #8
Commit https://github.com/refunders/refund/commit/a820127b69a60c69a4800524010bc3ec0b27ddfe gets rid of most of these issues I think. The estimate for the error variance was wrong.

@jeff-goldsmith works for your cd4 example for me now
@philreiss i  reverted one of your changes to fpca.sc (see diff for the referenced commit) because it led to dramatic overestimates of the error variance. this was v

[2015-05-05 16:22] jeff-goldsmith commented on #8
Yeah, that seems to fix the problem.

@fabian-s One minor thing I just addressed -- your commit got rid of `ZtZ_sD.inv`, but this is used when `var == TRUE` on line 297. I reverted that to the previous version in commit 0074759b65470482e190ae3023d63ba6ea6e0a17.

[2015-06-09 21:03] jgellar commented on #20
I'm looking through these issues before the CRAN update...

There's a potential problem with `re()`, try e.g. the example in `?pfr`:

[code]
The model seems to fit fine, so I'm not sure if the warning is anything to worry about.

I've been using `summary.gam()` for `pfr` terms, which seems to work except when there is a `re()` term.

[2015-06-09 21:04] jgellar commented on #20
Sorry about the close/re-open, I hit the wrong button

[2015-06-09 21:06] jgellar commented on #30
`argvals` support is available for the new `pfr()`.

[2015-06-09 21:06] #30 closed, assigned to nobody

[2015-06-09 21:08] jgellar commented on #20
FYI, there is still no `summary()` method. `summary.gam()` works for `lf`, `lf.vd`, and `af` terms, but not when `re()` or `peer()` terms are present.

[2015-06-09 21:11] jgellar commented on #29
For the new `peer()` function, I made the default `argvals` be `1:ncol(X)`, which corresponds to previous versions of `peer()`. Should we leave it like this, or change it to `seq(0, 1, length=ncol(X))` like other `pfr` terms, e.g. `lf` and `af`?

[2015-06-09 23:45] huangracer commented on #29
seq(0,1,length=ncol(X))

all default values for argvals in refund should be that

[2015-06-10 04:41] jgellar commented on #29
Okay, done

[2015-06-10 04:41] #29 closed, assigned to nobody

[2015-06-10 05:22] jgellar commented on #38
@fabian-s - could you take a look at the problem I marked on line 129 of `peer.R`? There is an issue related to passing a matrix as the `$xt` argument to `smooth.construct.peer.smooth.spec`. To see the problem, fit any of the examples under `?peer`, and then look at `fit$call`. Instead of using the name of the matrix in the call, it prints the entire matrix.

This isn't essential to fix, because t

[2015-06-10 17:56] jgellar commented on #41
Variable domain terms supported by `lf.vd` in db137069620f46c4a779d31f0d773eda22e383cb.

I would still like to implement varying coefficient terms, and probably merge with `lf.vd`. Possibly merge with `lf` later down the line.

[2015-06-10 18:01] jgellar commented on #31
`getEst.R` removed in 469d06c5e453acbc3932f89e6f425d6dc941781f. `coef.pfr` was added a long time ago in 4861eb66b3deda812377760dd59cc61405845ca8.

[2015-06-10 18:01] #31 closed, assigned to nobody

[2015-06-10 20:21] jgellar commented on #23
@swihart @mwmclean @jeff-goldsmith
I'm guessing you guys haven't been thinking too much lately about updating your testing functions to work with the new `pfr`? Phil wants to push the next refund update to CRAN any day now, so my suggestion is to leave it for the next update. We still have `pfr_old()` and `fgam()` available for one more release, so if someone wants to perform these tests using the

[2015-06-10 21:00] mwmclean commented on #23
I never implemented my test in refund.

[2015-06-11 03:43] jgellar commented on #23
That explains why I wasn't able to find it.

If you built your function to work with `fgam` models, I imagine it should work pretty similarly with `pfr` models - you just need to do a check to make sure the model fits your criteria (one `af` term, fit with the `t2` basis, REML, etc). But then you would have had to do most of these checks with the old `fgam` as well, right?

[2015-06-11 16:30] mwmclean commented on #23
I abandoned writing my test to work with fits from `fgam` mainly because I needed special constraints different than ones used by `mgcv`.  My code was written by hacking away at the old `gamm4::gamm4`  (now `gamm4:::gamm4.oldwork`) written to work with `lme4 < 1.0-0` and won't work with the current version of `lme4`.

[2015-06-11 23:38] mwmclean opened #42 "sff terms in pffr"
`sff` terms in `pffr` do not seem to work.

[code]

[2015-06-12 10:22] #42 closed, assigned to fabian-s

[2015-06-12 14:02] jgellar commented on #20
@mwmclean I'm not sure if you got a chance to look into `summary.pfr`, but it turned out to be a simpler solution than we thought. The problem was that inside `summary.gam` (in `summary.gam -> reTest -> recov`), Wood calls `np <- coef(object)` to get the number of parameters. Since we have a `pfr.coef()` method this is returning the wrong thing. The simple solution is for `summary.pfr()` to strip

[2015-06-12 19:45] jgellar commented on #20
Inspired by Fabian's update in 1c5039d1dba7b579affb9787953608a7c2e754f6, I decided to implement FPCR within `pfr`. This has been done here 01761c8baa43e363f16ac5c89929dbb81f6d3284.

It's working well, including all methods, though I admit I have not done much testing. If any of you guys want to play with it that would be great. The fit is matching that produced by `fpcr` almost identically. The di

[2015-06-19 14:58] fabian-s opened #43 "fpca2s return object different from fpca.sc"
.. return object should look as much as possible like the one returned by fpca.sc

[2015-07-06 16:02] jgellar opened #44 "Incorporate lpeer into pffr; modify pcre?"
`lpeer()` performs a type of function-on-function regression, and can thus be incorporated into `pffr`. Perhaps the term could be specified using the same `peer()` function that is used within `pfr`? i.e., something like:

[code]

Alternatively, something like this should work:

[code]

I realize the `pcre` code above does not work - it requires the user to enter the eigenfunctions/values directly

[2015-07-09 20:10] jgellar opened #45 "problem exporting coef.pfr"
I am having this same problem with my other R package, also for a `coefficients` method.

The problem only occurs when I install `refundDevel` directly from github, using:

[code]

Here is an example to demonstrate the problem, using the first example from the `pfr` help file:

[code]

So `coef()` and `coefficients()` both work, and they find the correct `coefficients.pfr` method (as demonstrated

[2015-07-09 20:18] jgellar commented on #45
As a followup, this problem does NOT occur when working with the version of the package on the `master` branch:

First, I install the master branch version:

[code]

Then, I run the first example from the `pffr` help file:

[code]

Here, `summary.pffr()` works fine (it did not work on the `devel` version).

When I try `methods(summary)`, `summary.pffr` is listed WITHOUT an asterisk. On the `devel`

[2015-07-09 21:05] jgellar commented on #45
Apparently it is bad practice to export methods.

http://stackoverflow.com/questions/18512528/how-to-export-s3-method-so-it-is-available-in-namespace

[2015-07-09 21:05] #45 closed, assigned to nobody

[2015-07-13 16:02] jgellar opened #46 "Wrong documentation for fpca.face"
When roxygen documentation was added to `fpca.face`, somehow the `fpca.ssvd` documentation was added instead. None of the examples even call `fpca.face`, and the documentation is exactly the same as the `fpca.ssvd` documentation.

Matt, do you have time to re-do this?

[2015-07-14 20:31] jgellar opened #47 "Plotting af terms with Qtransform option"
I have been playing around with the implementation of af terms on the pfr-devel branch. `af` has an option `Qtransform`, which does a time-specific quantile transformation of the X function, which is really useful. One thing I didn't like about this is that when you plot/extract the coefficient, it is still on the transformed scale. This makes it hard to interpret the coefficient on the original s

[2015-07-15 18:50] jgellar commented on #47
I have a working version of this on `pfr-devel`. The only problem is that it uses `:::` to trace into `plot.mgcv.smooth`. I can think of two ways around this:
1. We overwrite `plot.mgcv.smooth` with our own local copy. I tried to do this (you can see this code commented out at the bottom of `plot.pfr.R`), but the problem was that `plot.gam` ends up calling `mgcv:::plot.mgcv.smooth` instead of our

[2015-07-15 18:54] jgellar commented on #39
Still need cross-validation, and allowing for 2-D functional predictors.

[2015-07-15 18:55] #38 closed, assigned to nobody

[2015-07-17 04:09] jgellar commented on #47
My solution was to copy `plot.gam` and `plot.mgcv.smooth` into `refund` and make a couple edits.It's kind of cheating, but oh well. I documented both functions as copied from `mgcv`.

[2015-07-17 04:09] #47 closed, assigned to fabian-s

[2015-07-17 08:44] fabian-s commented on #47
Thanks Jonathan. Seems like a good solution.

I take it we don't need to ask Simon to export these methods anymore since
we're using modified versions of them anyway now?

On Fri, Jul 17, 2015 at 6:09 AM, jgellar notifications@github.com wrote:

[2015-07-17 12:16] jgellar commented on #47
Yeah, I guess not. We were going to have to have him export them and then use `trace`, but this is simpler.

[2015-07-20 20:56] jgellar commented on #41
Starting to think about the syntax for the user interface for these terms (and more):

Change, `lf`, `af`, etc. to:

[code]

where `...` can include named and unnamed arguments. Named arguments get passed to `s`, `te`, or `t2`. Unnamed arguments are considered data. Data can include any number of the following:
- Matrices or arrays. These are the functional predictors. We can allow them to be biva

[2015-09-15 19:11] jgellar opened #49 "pfr bug related to data environments and non-standard evaluation"
I got a chance to talk with Hadley WIckham today, and I asked him about the bug we were having a couple months back with the `testthat` tests - that the code would run fine when we ran it "manually", but the tests failed when we ran them as tests. He said that when this happens, it's usually in a model-building function, and it usually means that the author was not careful about the use of environ

[2015-10-28 09:40] fabian-s opened #50 "gam.check, qq.gam don't work for pffr fits"
.. similar issue as for predict.gam

[2015-11-11 16:52] fabian-s commented on #50
fixed in ab6da07

[2015-11-11 16:52] #50 closed, assigned to fabian-s

[2015-11-18 16:07] fabian-s opened #51 "pffr does not deal correctly with ti terms"
modify where.specials etc

[2015-12-02 08:28] FelixGuenther opened #52 "defaults in fosr.perm"
Hi,
during my work with the refund package I discovered following bug/unclean setting of default values in the fosr.perm function:
Using it with option multi.sp = TRUE and method = "GLS" one automatically get's an error because of the default value prelim = 15.
The result of the preliminary permutation is a vector of length q consisting of the medians from the q different smoothing parameters out

[2015-12-24 10:37] philreiss commented on #52
Thanks very much, Felix, for pointing out this problem. I've changed the default for prelim: it's now 0 if multi.sp=TRUE, 15 otherwise. (Note that multi.sp=TRUE works in fosr only if method="GLS"--at least currently.) Also, if multi.sp=TRUE and one sets prelim to >0, fosr.perm.fit will now issue an error message immediately rather than first running the preliminary permutations. Please let me know

[2016-01-07 16:46] jgellar opened #53 "dt basis is not handling nested smooths correctly (on predict)"
results in infinite loop

[2016-01-07 17:56] #53 closed, assigned to jgellar

[2016-02-24 10:11] fabian-s opened #55 "predict.pffr for gaulss"
predict with `reformat =TRUE` does not return variances --

return array instead of matrix? list? attributes?

returning anything other than a matrix is a logic break. then again these models _are_ very different by having two additive predictors not just one....

---

coef.pffr does not label terms for the variance's additive predictor correctly

[2016-02-24 22:17] jgellar opened #56 "pfr not accessing data argument correctly"
When `pfr()` is wrapped inside a function (e.g., in an `sapply()` call), for some reason it's looking in the wrong place for the data in the `data` argument. Example:

[code]

This throws the following error:

[code]

However, this works just fine:

[code]

The offending line of `pfr` is line 53 (in the debugger code with comments stripped out):

[code]

`eval(call$data)` doesn't find `DTI1` when

[2016-02-25 09:32] #56 closed, assigned to fabian-s

[2016-03-02 15:40] fabian-s opened #57 "dependency on MCMCpack seems unnecessary"
MCMCpack is a shitty dependency to have because it needs two Bioconductor packages: graph and Rgraphviz.

So for people to install refund without warnings and errors, they'd need to know to install these two from Bioconductor.

None of the other dependencies need any Bioconductor stuff, I think.

AFAICS we depend on MCMCpack only because of the `riwish`-RNG, used in [Gibbs_CS_Wish](https://github.

[2016-03-02 16:51] jeff-goldsmith commented on #57
should be doable, yeah. the offending code also shows up in Gibbs_Mult_Wish, but the fix will be the same there. i’ll make an update and do some testing to make sure everything works post-enar, if that timeline suffices.

On Mar 2, 2016, at 10:40 AM, Fabian Scheipl <notifications@github.com<mailto:notifications@github.com>> wrote:

MCMCpack is a shitty dependence to have because it needs two Bioco

[2016-03-02 16:58] fabian-s commented on #57
cool, thanks!

[2016-03-15 16:45] fabian-s opened #58 "summary does not work for pfr with af, pcr terms"
@mwmclean  @jgellar @jeff-goldsmith

Running the code from `example(pfr)`,  I get:

[code]

and

[code]

(on refundDevel_0.1-15; mgcv_1.8-7)

Both are triggered somewhere in  `summary.gam`, presumably because `af` and `fpc` don't set up the entries in `<pfr-object>$smooth` the way `mgcv` expects them to be set up.

Not being able to run summary on these models sucks because it means we're losing m

[2016-03-16 16:27] jeff-goldsmith commented on #58
It's been a while since I looked at the fpc stuff -- do you have a sense for whether this is a quick fix or something more long-term? I agree that having this play nicely with summary.gam would be ideal...

@mwmcleanhttps://github.com/mwmclean @jgellarhttps://github.com/jgellar @jeff-goldsmithhttps://github.com/jeff-goldsmith

Running the code from example(pfr), I get:

and

(on refundDevel_0.1-15

[2016-03-16 16:37] fabian-s commented on #58
@jeff-goldsmith: This should not be too hard to fix, we just have to make sure everything is where mgcv expects it to be.

[2016-03-16 16:40] jgellar commented on #58
Need to just run it in debug mode to see exactly what summary.gam() is looking for that we don't provide. Hopefully we can just provide this info as part of the pfr object. If not, then we would need to write our own summary() method, which would be considerably more work.

I can probably dig into this later in the week if nobody else can.

[2016-03-16 17:06] fabian-s commented on #58
Thanks Jonathan! From the error message, I'm 90% sure it's just a matter of not saving the penalty matrix for `fpc`-terms in the expected location or the wrong form....

[2016-03-21 01:07] jgellar commented on #58
f77ed4d3ce5abe448823c96ff39249d0e73b5bbd should fix the issue with `af` terms. For `fpc` terms though, I didn't do anything, and it's working just fine:

[code]

@mwmclean and @jeff-goldsmith - could you try it out and see if you're having trouble with the `fpc` terms?

[2016-03-21 09:45] fabian-s commented on #58
thanks, @jgellar. I can no longer reproduce either of the errors, weird, and sorry for the false alarm re `fpc()`. So the change that made it work was simply setting the class attribute of the smooth object differently?

Why did you merge devel into master? That changed a lot of files in master in a lot of different places. I think it's usually better to leave the devel and master branches separat

[2016-03-21 11:42] jeff-goldsmith commented on #58
@fabian-s, no worries about the false alarm -- always good to double check that things work the way we expect them to.

for what it's worth, i agree that our workflow should be to make changes in the devel branch and only update the master branch prior to a new release to CRAN. it seems the master branch is still passing, so we may not need to roll back the changes, but in the future maybe we can

[2016-03-21 13:01] jgellar commented on #58
I'm actually not sure when I merged devel into master. Maybe my repo wasn't up to date, and I had already addressed the `fpc` issue? I thought for this one change (which was just one line) I could do it on master, and save a step. But you're both right the proper way would be to make the changes on devel, and I'll do that in the future.

@fabian-s if you want the details:
The problem with `af` ter

[2016-03-21 13:22] fabian-s commented on #58
@jgellar: it's perfectly fine to make bug fixes direct in master **AND devel**, esp. if they're as small as the one here, i.e. the first commit  https://github.com/refunders/refund/commit/2479aa3fe601856533a229e6cd638175e7557102 you pushed. Then you pushed a huge second one that merged devel into master, that's the one you referenced above.
We just all have to be careful about what we push into th

[2016-03-21 14:07] jgellar commented on #58
That second commit was because I realized I had made this one change without pulling the most updated version of the repo (the master branch). So my workflow was the following:
1. Made one-line change on my (outdated) version of the master branch, and committed.
2. Pulled updated version of master branch
3. Pushed everything

I now worry - could this have erased some of the changes that were made

[2016-03-21 14:10] jgellar commented on #58
I had not updated the devel branch before with this change, I just did so. In the proper order this time (pull, make change, commit, then push).

[2016-03-21 14:18] fabian-s commented on #58
I don't think so, unless you got any conflict warnings and corrected them by manually overwriting your earlier changes or used something like git reset. Git checks the the local changes and warns you if the same parts of the code have been modified in the mean time in the remote, that's what it's for.

Thanks for fixing this, I hope I didn't come across too critical. I just worry about the state o

[2016-03-21 14:20] #58 closed, assigned to nobody

[2016-03-29 12:36] jgellar opened #59 "Problem loading refund on my server?"
I'm trying to load refund on my company's server, and getting an error:

[code]

Does anyone know what this `graph` package is? It's not on CRAN, and isn't a direct dependency of `refund`. This may have something to do with the fact that the server is running a really old version of R (I've been trying to get them to update it for months, but they are slow):

[code]

[2016-03-29 12:37] jgellar opened #60 "predict.pfr with multiple functional predictors"
Per Sweeney:

Greetings from Israel -- over here for the month working with Phil!  We are fitting a function on scalar regression with multiple functional predictors and are running into some bugs with the predict.pfr function.  I've attached a small toy example that produces the error.  I've also dug a bit into the code on the github and I think I found a solution for the error -- if you look at

[2016-03-29 12:47] fabian-s commented on #59
We rely on 2 Bioconductor packages until
https://github.com/refunders/refund/issues/57 is fixed.

For now, you'll need to run (http://www.bioconductor.org/install/)

source("https://bioconductor.org/biocLite.R")

biocLite(c("Rgraphviz", "graph"))

On Tue, Mar 29, 2016 at 2:36 PM, jgellar notifications@github.com wrote:

[2016-03-29 13:09] jgellar commented on #59
Thanks Fabian. Why have I never had to do this (at least manually) before?

[2016-03-29 13:24] fabian-s commented on #59
They used to be on CRAN as well until fairly recently, I guess...?

On Tue, Mar 29, 2016 at 3:09 PM, jgellar notifications@github.com wrote:

[2016-03-30 00:14] aki-nishimura opened #61 "Bug in "vis.pfr""
Matt (McLean) fixed a bug for me (in the "devel" branch) and now I seem to get another error.  Here is the code to reproduce the error. The code is identical to the help page of "vis.pfr" except that I add " ~ visit + sex + ."

data(DTI)
DTI <- DTI[DTI$visit==1 & DTI$case==1 & complete.cases(DTI$cca),]
fit <- pfr(pasat ~ visit + sex + af(cca, basistype="te", k=c(8,8), m=list(c(2,3),c(2,3)), bs="ps

[2016-03-30 03:17] jgellar commented on #61
It looks like you're fitting a model with the variable `visit` in it, but `visit` has the same value (1) for every subject. Could this be the reason for the error?

I'm surprised the model even fits - how is this identifiable? Here is the parametric terms part of the model summary:

[code]

So it looks like the "intercept" is getting split evenly between the actual intercept and the `visit` term.

[2016-03-30 04:32] jgellar commented on #61
I fixed the bug, thanks Aki for pointing this out. Fix is currently in the devel branch.

[2016-03-30 04:32] #61 closed, assigned to nobody

[2016-03-30 15:11] #60 closed, assigned to jgellar

[2016-03-30 15:21] #59 closed, assigned to nobody

[2016-04-05 22:09] jeff-goldsmith commented on #57
should be fixed by 8e47167 -- sorry for taking so long!

[2016-04-05 22:09] #57 closed, assigned to jeff-goldsmith

[2016-04-09 12:10] #7 closed, assigned to fabian-s

[2016-04-12 09:28] fabian-s commented on #57
Thanks @jeff-goldsmith !

[2016-04-12 15:30] fabian-s opened #62 "pfr(): multiple fpc-terms don't work"
[code]

seems like the order of the terms matters here and that either `xt$X` or `sm$X` use the wrong functional covariate....

(tested with refundDevel @ ce08fcb)

@jgellar :
I suspect this

[code]

may be the section of pfr where this goes wrong, but I'm not sure. Hope it's ok to assign this to you...

[2016-04-12 16:40] fabian-s opened #63 "pfr(): predict not working for fpc terms"
[code]

@jgellar : sorry to keep filing bugs against your code, but not being able to generate predictions really sucks.... something like [this](https://github.com/refunders/refund/blob/master/R/pffr-methods.R#L173) may help

[2016-04-22 15:03] fabian-s commented on #46
@mwmclean are you alive?

[2016-04-22 20:07] mwmclean commented on #46
Fixed by e708b5c0e604e1703f810792f44fb6079c0f20c6 and 7138c126f2f083caa713b7f403098deaa33f930b

[2016-04-22 20:07] #46 closed, assigned to mwmclean

[2016-04-22 20:24] mwmclean commented on #46
Actually closed by 7138c126f2f083caa713b7f403098deaa33f930b

[2016-06-15 18:04] jeff-goldsmith opened #64 "naming scheme for functional data in dataframe??"
@fabian-s @lxiao16 @philreiss @huangracer

Does anyone know where the naming convention for columns in the ydata argument to fpca.sc comes from? That scheme is .index for the time grid, .id for the subject identifier, and .value for the y value in the curve.

Is that a naming scheme we’d want to keep moving forward? Specifically, I wonder about the “.” that precedes the variable name and the use o

[2016-06-15 18:08] jeff-goldsmith commented on #43
@fabian-s @lxiao16

I think we addressed this when formatting output of fpca objects to interact well with refund.shiny. Can you confirm and close if it looks right to you?

[2016-06-15 18:18] jeff-goldsmith opened #65 "Scaling of eigenfunctions in fpcaZZZZ functions"
It would be good to address the non-uniform scaling of eigen functions across functions implementing methods for FPCA. Right now, fpca.sc() scales functions to integrate to 1, while other functions treat eigenfunctions as eigenvectors (cross product scales to 1). A quick look indicates some work is needed for fpca.face, fpca2s and fpca.ssvd.

[2016-06-16 09:52] fabian-s commented on #64
I used this for irregular responses for `pffr`.
It was a terrible decision to do it like this.
If I would do it all over again I'd do it something like this:

[code]

This would make it possible to avoid having separate data arguments for the covariates and the irregular functional responses in `pffr`, with all the bookeeping nightmares that causes, and might also be useful for having a unified in

[2016-06-16 11:39] philreiss commented on #64
If we have a better way than the leading periods, etc. AND we can implement it in time for the upcoming CRAN submission, then I’m all for it. I don’t have very strong opinions about which naming scheme to use. But regarding “argvals”: that comes from the fda package. Back in the day, refund was basically just fosr(), which can take fda-package “fd” objects as the input, so it seemed sensible to us

[2016-06-16 11:42] fabian-s commented on #43
looks good, i'm closing it. for future commits, note that you can simply write "closes #43" into the commit message and the issue will automatically be closed when you push it to the remote

[2016-06-16 11:42] #43 closed, assigned to lxiao16

[2016-06-16 14:11] jeff-goldsmith commented on #64
@philreiss -- i don't know about others, but i wouldn't intend this as a change ahead of the upcoming CRAN submission. i'm working on a separate project and need to figure a good way to store functional data; this is / will be pertinent to refund and refund.shiny eventually, which is why i'm posting here, but it's not really pressing.

@fabian-s -- thanks for the feedback! it seems like what you p

[2016-06-16 15:51] fabian-s commented on #64
True, you'd definitiely need `as.data.frame` methods. The big advantage of the above is in settings where you have to keep (multiple) irregular functional  and scalar covariates that belong together in the same object. If you're in a "univariate" setting where you only care about one functional covariate in isolation the hassle of non-standard columns in `data.frames` is probably too high a price

[2016-06-16 17:22] jeff-goldsmith commented on #64
Agreed. Since I'm working with univariate data I'll stick with a standard `data.frame` for now, and keep your `as.data.frame` function (and one that converts a usual `data.frame` to a `irregular_functions` object) in mind for later. We'd need them if you reformat `pffr` to handle the more complex data structure, and probably for some other cases I'm not thinking of now.

Alright, I'm going to use

[2016-06-16 17:22] #64 closed, assigned to nobody

[2016-06-17 11:35] fabian-s commented on #65
Phil wrote:

I'd support moving to consistently having the `fpcaXXX` functions return evaluations of eigen_functions_, **but** then these would also have to receive **and return** the input functions' `argvals` and domain (the domain could probably be derived from the range of `argvals`, but that might be problematic for irregular data..?)

IMO the more work intensive but ultimately cleaner soluti

[2016-06-17 12:17] #8 closed, assigned to philreiss

[2016-06-17 14:03] jeff-goldsmith commented on #65
Is there a reason this is more true for eigenfunctions than eigenvectors? At least for plotting, we should be returning the argvals no matter what, right?

I wouldn't mind updating how we input data. However:
- It might be nice to still allow matrix-valued `Y`, since there are a lot of functional dataset organized in this way.
- Building on the discussion you link to, would it make more sense to s

[2016-06-20 16:39] fabian-s commented on #65
As you can see above I've tried to tackle this for  `ssvd` and `2s` (and changed the default argvals for `sc` as well as added them to the return value). For data on non-equidistant grids, they return eigenVECTORS, with a warning. Irregular inputs yield an error.

In `2s` I'm now simply estimating the scores via OLS based on the smooth eigenfunctions, and for both `ssvd` and `2s` I take the varian

[2016-06-22 07:30] philreiss opened #68 "Cleaning up documentation"
With a new CRAN upload planned for a couple of weeks from now, this would be a great time for everyone to please look at the help files for functions you've written, and see if there's anything you can tidy up or correct. A common issue is papers whose publication status needs updating. ?DTI2 has two examples of what I recommend as the format for citations (and one example of the need for updating

[2016-06-27 20:13] jeff-goldsmith commented on #65
Adding a short comment, as much for myself as anyone. I notice that cffc7bb returns `argvals`; as in #64 I'm leaning toward calling this `index` everywhere (which is why I had added it as such in f5b7860). I agree that it's better to consistently use `argvals` throughout until I switch the whole package though.

[2016-08-01 16:30] huangracer opened #69 "refund failed check on CRAN"
probably caused by the mgcv update

https://cran.r-project.org/web/checks/check_results_refund.html

[2016-08-02 15:43] fabian-s commented on #69
@huangracer @philreiss : please check whether you think these changes are reasonable and if so migrate them to the devel branch (and CRAN, before they kick us off.....)

https://github.com/refunders/refund/commit/3743054848880e68918b012292e8a0d059e173d2?w=1
gives a better diff without any whitespace changes than using the link above.... (i removed all the damn tabs from the fosr code and replaced

[2016-08-03 04:56] huangracer commented on #69
Thank you very much @fabian-s . I rebased devel branch and submit it to CRAN.

[2016-08-03 04:56] #69 closed, assigned to fabian-s, huangracer, philreiss

[2016-08-03 13:31] fabian-s commented on #69
Thanks @huangracer, you're the best!

[2016-10-12 14:44] fabian-s opened #70 "pffr: ti and discrete = TRUE don't play well together"
[code]

![image](https://cloud.githubusercontent.com/assets/998541/19314543/cc733c16-909a-11e6-8075-69cf67b808a6.png)

?!? why are axis orders different between plots ?!?)
true functions are (see pffrSim code):
- intercept: 1 + dbeta(t, 2, 7)
- f(xsmoo, t) = cos(xsmoo) \* (t-.5)
-  f(xlin, t) proportional to dnorm(t-.2)*xlin

so discrete makes a huge difference if mc is set (columns 1 & 2 vs 3 & 4

[2016-10-12 14:44] fabian-s commented on #70
locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=de_DE.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=de_DE.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=de_DE.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=de_DE.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

[2016-10-12 15:01] fabian-s commented on #70
Understood so far:
- seems to happen only with **multiple ti** terms (check again)

[2016-10-12 15:03] fabian-s opened #71 "pffrSim: centered effects"
- [ ] make sure all true effects in pffrSim follow constraints used for fitting.
- [ ] return true effect shapes as attributes

[2016-10-24 13:58] fabian-s opened #72 "improve factor variable handling in pffr"
- currently needs `~ -1 + c(factor) + factor` or  `~ -1 + c(1) + c(factor) + factor` to do the sensible thing, should just need `~factor`)
-  breaks down for more than 1 factor as no reference categories are defined and model becomes rank def., currently need to set up dummies manually and use those....
- see dev-multiple_factors, check constraints used in FDboost...

[2016-11-21 12:47] sbrockhaus commented on #63
The same problem occurs for `lf.vd()` terms. I want to use a model with variable-domain covariate for binary response. To asses prediciton accuracy, out-of-bag prediciton is inevitable.
[code]
A workaround is to use `weights`:
[code]
But this is rather tedious... And I am not sure, how the data with weight 0 enter the model anyway. Consider the following model fit where the training data is used i

[2016-11-21 23:22] mkulbaba opened #73 "variable length of predictors"
Hello,

I am using the Refund package to address a biological question:

I am wanting to perform a functional regression of fruit set (scalar response) along gradients of traits within plant flowering stems (continuous floral traits along a stem).  The issue I am having results from the plants I sampled having a variable number of flowers per stem (as expected).  This results in the predictors for

[2016-11-22 03:56] mkulbaba commented on #73
Sorry for the multiple posts, I (finally) came across the variable-domain function (lf.vd) available in Refund.  This seems to take care of the issue.  My apologies for not thoroughly searching the documentation.

Mason

[2017-02-04 01:30] samclifford opened #74 "Loading package causes segfault"
Loading the CRAN version of the package, 0.1-16, on R 3.2.3 on OS X 10.12.2 causes a segfault

[code]

Trying to install either the master or latest dev branch with devtools (refundDevel 0.1-17) gives a segfault and crashes both R and RStudio.

[2017-03-13 10:17] fabian-s commented on #74
Closing this since refund does not include any C code that could trigger segfaults and we cannot reproduce the behavior on OS X machines.

[2017-03-13 10:17] #74 closed, assigned to nobody

[2017-03-13 10:22] fabian-s opened #75 "Ok to export cmdscale.lanczos?"
@dill @philreiss  : may I turn this into an **exported** function? A student of mine would like to use it for a boosting-based principal coordinates baselearner to be included in https://github.com/fdboost/FDboost...

[2017-03-13 14:38] dill commented on #75
No problem with me!

On 13/03/2017 06:22, Fabian Scheipl wrote:

[2017-03-13 16:35] #75 closed, assigned to philreiss

[2017-03-13 16:42] fabian-s commented on #75
Great, thanks!

[2017-03-21 14:47] ClaraHapp opened #76 "fpcr fails when called with scalar covariates"
Hi,
I tried to run `fpcr` with scalar covariates and it failed because of wrong array dimensions (see example below).
I have identified the problem in line 296 in the current code:
`obje$undecor.coef <- as.matrix(undecor.coef, nrow = 1)`
`undecor.coef` is a vector, calling `as.matrix` transforms it into a matrix with one column(!), even with `nrow = 1`. This fails when setting the colnames in the

[2017-03-22 10:57] fabian-s commented on #76
Thanks!

You can also do:
[code]
which gives almost the same model...

[2017-03-22 12:27] #76 closed, assigned to nobody

[2017-06-06 08:08] fabian-s opened #77 "anova of pffr models does not work"
... have to override method dispatch

[2017-07-24 15:57] iclocher opened #78 "variable selection in fosr"
[fosr.vs.txt](https://github.com/refunders/refund/files/1170454/fosr.vs.txt)
[frtmatNoNA.txt](https://github.com/refunders/refund/files/1170458/frtmatNoNA.txt)
[flwmatNoNA.txt](https://github.com/refunders/refund/files/1170459/flwmatNoNA.txt)
@yakuan-chen

Hello,

I am trying to implement the fosr.vs() function. My functional data consists in a matrix that has 7 columns (the longitudinal observati

[2017-07-25 16:42] fabian-s commented on #78
The error is due to the very low number of gridpoints of your functional response.
The error actually occurs in a call to `fpca.sc` issued from `fosr.vs` for which your arguments don't affect the basis dimensions....

@yakuan-chen:

line `w <- fpca.sc(a, var=T)` causes this error because `fpca.sc` uses 10 basis functions to fit the smooth mean vector of functional responses by default, but the fun

[2017-07-25 18:43] iclocher commented on #78
Thank you @fabian-s !

[2017-07-25 20:35] jeff-goldsmith commented on #78
@iclocher: as @fabian-s said, the issue had to do with the call to `fpca.sc` from `fosr.vs`. this step is used to estimate the residual covariance matrix, and requires quite a few points per curve to be effective. https://github.com/refunders/refund/commit/7e3cc69f89cb6e61bc9048587bc3e2a4d216521c addresses this by using the empirical covariance for low-resolution responses (an even more basic appr

[2017-07-26 06:34] iclocher commented on #78
Indeed, that worked. Thank you for your fast great advice!

[2017-07-26 06:34] #78 closed, assigned to jeff-goldsmith

[2017-08-23 18:08] iclocher commented on #41
I think it is an appropriate place to comment in this thread instead of in a new post, my apologies if I am wrong.
**I want to use `<pfr>` with a scalar response and two variable-domain functional terms (plus a scalar covariate).** What's currently working looks like this:
`pfr (scalar1 ~ lf(func1) + lf(func2) + log(scalar2) )`     _(two constant-domain functional terms and a scalar covariate)_
`p

[2017-08-24 10:37] fabian-s commented on #41
@iclocher : it's always helpful to read your error messages carefully, this error is due to an overparameterized model, not actually a refund problem.

You need to reduce the basis dimensions for the terms so that your model has fewer coefficients than data, see `?lf.vd`, argument `...` and the documentation for argument `k` in `mgcv`'s `?s` --  something like `lf.vd(func1, vd = func1, k = 10) + l

[2017-08-24 18:52] iclocher commented on #41
Thank you @fabian-s , and my apologies for not understanding the error message. The documentation for `?lf.vd` says that k is an optional argument, which explains why it was absent from my `pfr `statement (however I had it in my `pfr `statements using ls, so I should have conserved it for those using `lf.vd`, my bad).

[2017-09-11 10:07] fabian-s commented on #70
fixed in mgcv 1.8-20

[2017-09-11 10:07] #70 closed, assigned to fabian-s

[2017-10-05 23:13] iclocher opened #79 "lf() and missing values in the functional predictor"
Hello,

I am using `pfr` and `lf` for a scalar-on-function regression. My functional data has some values missing completely at random and not at the end of the vector for each observation, so the missingness can't be resolved by using a variable domain.
The documentation for `lf` says the following about the first argument of the function:

It is the case of my functional data as you can see from

[2017-10-07 01:02] mwmclean commented on #79
Did you try just removing that second line from the documentation, setting `DTI1 <- DTI` and seeing what happens when you run the different examples?

[2017-10-07 23:47] iclocher commented on #79
@mwmclean Yes, I did.
When I use DTI instead of DTI1, the fitted models have a different number of fitted values: they seem to have either 334 or 340 fitted values (excluding fit4 that gives an error message regardless of the dataset used). When I use DTI1, all five models have 66 values. Therefore, in this example, the missingness doesn't seem to be a problem. **It is still unclear to me why usin

[2017-10-10 23:29] iclocher commented on #79
I was able to appreciate the different presmoothing options available for `lf` from the refund documentation `create.prep.func`, which allowed me to interpolate individual trajectories even with some missing data, and thus use my complete dataset.
Thank you for your answer.

[2017-12-06 21:02] fabian-s opened #80 "pffr: make sum-to-zero constraint optional"
... would be useful for regression with [density outcomes](https://syncandshare.lrz.de/dl/fiQe45XxE87Kb9E3vuVaoJfP/RegressionDichtenBetaBeispiel.R)

[2018-02-18 18:57] kastman opened #81 "bayes_fosr with gibbs returns "fosr" string instead of a model"
Hi all,

For some reason, using `bayes_fosr` with `est.method = 'VB'` is returning a model just fine, but with `est.method = 'Gibbs'` I only get the string "fosr" as the return value, e.g. `mod <- bayes_fosr(func ~ preds, est.method = 'Gibbs'); mod == 'fosr'`. Additionally, Gibbs was working previously on this same system and I can't think of anything that has changed on it; I reinstalled refund b

[2018-02-20 15:56] jeff-goldsmith commented on #81
Thanks for noting the bug, although I haven't been able to recreate it (and don't see anything obvious in the code that would lead to this kind of issue). I tried running a modified model from the help file and it worked as expected:

[code]

If you can check whether the above example works for you and / or post an example that has the behavior you describe, that would be really helpful.

[2018-02-21 03:16] kastman commented on #81
I just checked, and the above example returns a model correctly while my own model still fails, so it must be something to do with my model specification. Using identical parameters to the test, I get:

[code]

This suggested that the actual estimation function being used successfully wasn't `gibbs_mult_fpca`. Looking at the [switch statement](https://github.com/refunders/refund/blob/33a6b4c3cfe1b

[2018-02-25 14:05] julia-wrobel commented on #81
@kastman  just from looking at the error you're getting, is it possible in your model specification you are using the argument 'kt = 10' rather than 'Kt = 10'?

[2018-02-25 16:44] jeff-goldsmith commented on #81
Adding to this, although the `DTI` dataset doesn't have a random effects structure, you could try adding a subject ID at least for the purposes of troubleshooting:

[code]

The code above seems to run and produce reasonable results, at least.

If you're willing to gist the data / make the full example public that could be helpful.

[2018-02-25 23:25] kastman commented on #81
@julia-wrobel Good catch - you're right that I was using the `Kt` arg incorrectly. Thanks!

@jeff-goldsmith  Unfortunately, the minimal example w/ DTI does work for me, so suspect this must be  about my data. The sampler does complete until the end (i.e., a higher value of `N.iter` does increase the time spent sampling, so I get the feeling that the chain is being sampled correctly and something j

[2018-02-26 19:44] jeff-goldsmith commented on #81
Thanks for creating a gist, @kastman ! I took a look, and ran into exactly the same issue using the data you posted. Oddly, running the function after saving the version in the developer branch to the local environment worked just fine -- still not exactly sure why, since I don't think there are major differences between the devel and master branch versions.

In any case, can you try installing th

[2018-02-26 20:36] kastman commented on #81
Thanks for getting back to me so fast, @jeff-goldsmith. It looks like that worked, whatever it is! Thanks again for the prompt response.

I'm closing this issue for now - just for the future that was somewhere between the release version 0.1-16 and commit #33a6b4c.

[2018-02-26 20:36] #81 closed, assigned to nobody

[2018-03-07 03:50] kastman commented on #81
Hi @jeff-goldsmith and @julia-wrobel ,

Apologies for dragging up the issue again, for something that's only tangential; it just doesn't quite deserve its own issue.

I'm trying to run my model again after re-registration, which had been working successfully with no problems. For some reason any time I include an interaction term my design matrix is now singular: `Error in solve.default(as.numeric

[2018-03-09 15:17] kastman opened #82 "Unreliable singular matrix errors"
Hi all,

I'm trying to troubleshoot an error in `bayes_fosr` that's driving me crazy, which is that during estimation some trials appear un-estimable and others are fine, but they "look" the same. The base error is this: `Error in solve.default(as.numeric((A + IJ * D/2)/(b.q.sigma.me)) * sig.X +  :
  system is computationally singular: reciprocal condition number = 7.91892e-17` which I believe is

[2018-03-12 17:46] kastman commented on #82
Turns out some of my predictors were factors with empty levels - when the design matrix was being expanded those empty levels were then included and the design was singular. So the answer is simply to clean out your factors with _droplevels_ before estimation: `df$fac = droplevels(df$fac)`.

[2018-03-12 17:46] #82 closed, assigned to nobody

[2018-03-12 17:56] jeff-goldsmith commented on #82
Glad this got sorted out, and thanks for following up! We'll keep this in mind as a possible data check before model fitting, although it might be something we'd want to implement across the package instead of function-by-function ...

[2018-07-11 09:29] bernard-liew opened #85 "fosr error"
Dear authors,

I am experiencing some errors, and have some questions.

Background: my response is a 16 time point waveform. I have 28 subjects. so Y is a 24 x 16 matrix. My X is a scalar (factor) of 2 groups. My question is when in time do the two group's waveform different.

Error/warning:
fosr_mod = fosr (Y ~ X,
                  data = dat,
                  method = "GLS")
**Error in S.[[i]]

[2018-09-06 14:39] julia-wrobel opened #86 "fosr error: vector memory exhausted (limit reached?)"
Memory error is occurring on datasets that should be small enough to work with the function. The error message and traceback() are below:

`> model_fosr = fosr(Y = Y_mat, X = covars_mat)
Finding optimal lambda by optimize()...
Error: vector memory exhausted (limit reached?)

6: tcrossprod(scale(QU, center = FALSE, scale = 1 + lam * svd211$d),
       QU)
5: f(arg, ...)
4: (function (arg)
   f(arg,

[2018-09-06 15:28] fabian-s commented on #86
Thx @julia-wrobel  for nailing down the offending line.

QU has dimensions (#observations * #timepoints) X  (#basisfunctions of all effects combined).

For the example,  QU is 60000 x 60, so that  `tcrossprod` tries to create a dense 60000 x 60000 matrix, which isn't such a terrific idea ...  :hankey:

I wonder how that really ever worked for reasonably sized data? `lofocv` hasn't been modified fo

[2018-09-12 01:04] julia-wrobel commented on #86
There may be deeper issues. After changing the line @fabian-s suggested I get the same Error: vector memory exhausted (limit reached?), but with a different traceback:

5: outer(X, Y, FUN, ...)
4: .kronecker(X, Y, FUN = FUN, make.dimnames = make.dimnames, ...)
3: kronecker(X, Y)
2: diag(ncurve) %x% covmat
1: fosr(Y = Y_mat, X = covars_mat)

@fabian-s do you have any other ideas for patches?

[2018-09-12 06:59] fabian-s commented on #86
i think this is the same issue (trying to create a huge quadratic matrix with  ncurve*gridlength columns) at a different code location.... since it is blockdiag, maybe we could just do the operation blockwise? travelling atm, can't really look at the code

[2018-10-22 18:30] simonvandekar commented on #85
I am getting the same error. The error is caused by a line in refund:::amc indexing the list S.[[i]][[1]]. It looks like, as programmed, amc is not not compatible with multiple penalty matrices.

[2019-03-18 14:52] #73 closed, assigned to nobody

[2019-04-18 15:20] fabian-s opened #87 "predict.pffr fails for concurrent functional effects"
.. the conditionals starting in https://github.com/refunders/refund/blob/fa0c2c03f23fb8a4ecffbf0dd79a1a80cc8cf518/R/pffr-methods.R#L109  don't check for matrix covariates, so only their first few values get repeated in `                            gamdata[[cov]] <- drop(newdata[[cov]])[rep(1:nobs, each=nyindex)]`

[2019-05-31 11:43] fabian-s commented on #49
closing this since there was no further activity and described problems do not seem to be present currently.

[2019-05-31 11:43] #49 closed, assigned to nobody

[2019-05-31 11:45] fabian-s commented on #23
closing this since nobody seems to be working on this.

[2019-05-31 11:45] #23 closed, assigned to nobody

[2019-05-31 11:46] #52 closed, assigned to philreiss

[2019-07-05 07:58] fabian-s commented on #86
@julia-wrobel do you have capacity to test the patch I made on this?   (PR #88)

[2019-07-05 16:49] julia-wrobel commented on #86
I’m on the road without a computer but I can test it Monday when I’m back.

Sent from a mobile device; forgive typos
________________________________
From: Fabian Scheipl <notifications@github.com>
Sent: Friday, July 5, 2019 12:58:06 AM
To: refunders/refund
Cc: Wrobel, Julia; Mention
Subject: Re: [refunders/refund] fosr error: vector memory exhausted (limit reached?) (#86)

@julia-wrobel<https://u

[2019-07-12 19:43] julia-wrobel commented on #86
@fabian-s  Examples from the fosr documentation yield the same results in both the patched version and the current master branch. However for the pathological example patched code no longer produces the error "Error: vector memory exhausted (limit reached?)", but produces a set of warnings: "In optimize(cvfcn, c(0, maxlam), tol = 0.01) : NA/Inf replaced by maximum positive value".

Is this somethi

[2019-07-15 07:52] fabian-s commented on #86
model results look very reasonable to me, so I guess we can live with that.

[2019-07-15 17:19] #86 closed, assigned to nobody

[2019-07-15 19:26] fabian-s commented on #86
thx, @julia-wrobel

[2019-08-27 08:07] fabian-s opened #90 "make coefboot.pffr always return coef-vectors with same length/order as original fit"
(see e-mail exchange with Arhit Chakrabarti)

[2019-09-10 08:16] neotis70 opened #91 "Problems to plot pffr objects"
I tried to plot the result of a pffr I made. It was a function-on-scalar regression with the constant 1 and the sex as covariates. When I plotted it, the scale of the first coefficient was too high for the second one so I stored the results, and I plotted only the sex coefficient, using plot[[2]]$x as x, as.numeric(plot[[2]]$fit) +- 1.96 * plot[[2]]$se as y, and I got something not related to the

[2019-09-10 10:46] fabian-s commented on #91
Thanks for your report. Please provide a reproducible example of the problem so we can try to help you.

[2019-11-15 15:34] julia-wrobel opened #92 "implicit ordering problem with `mfpca.sc`"
issue raised by @andrew-leroux (thank you), bug in MFPCA due to function implicitly assuming ids are ordered. Code below reproduces the bug:

The code below raises a similar issue; there is no bug but estimation is wrong. See the plot, the first row of the first fit and the last row of the second fit should have the same fitted values but they don't.

[2020-06-19 09:35] fabian-s opened #93 "ff's identifiability check needs to be switched off for radial basis functions"
https://github.com/refunders/refund/blob/67253a92e77f676c3161c3612b2bf73f2370e330/R/pffr-ff.R#L210
this won't work....

[2020-11-18 12:51] ARLundborg opened #94 "pffr breaks with default algorithm (bam) and ffpc terms"
I have the following data:

https://gist.github.com/ARLundborg/7657d0bb8ea84c7190daa55a8a069e8e

and am attempting to run the following:
[code]
This yields an error:
[code]
and a large traceback. If I do `m <- pffr(Y ~ ffpc(X), algorithm="gam")`, however, the code runs without failure (but is fairly slow). Am I doing something wrong here or is there a bug somewhere in code?

EDIT: I get the same e

[2020-11-18 13:15] fabian-s commented on #94
Seems like the way we set the `chunk.size` argument for `bam` is broken -- please set it manually in the mean time, the code below works for me:

[code]
For you too?

Thanks for the report @ARLundborg

[2020-11-18 14:20] ARLundborg commented on #94
That works! Thanks a lot for the swift response!

[2020-11-18 15:59] #94 closed, assigned to nobody

[2020-12-04 16:35] julia-wrobel opened #95 "Error in `fgam` examples for R-devel version 4.1"
Most recent version (1.23) of CRAN refund release comments out examples in `fgam`, `predict.fgam`, and `vis.fgam` to pass checks for R version 4.1 currently under development.  When version 4.1 is officially released, need to resolve these errors in a more thorough way.

[2021-03-08 19:03] edwardgunning opened #96 "fosr error - large matrix and vector lambda supplied."
Hi,

I came across #86 when diagnosing model warnings ( "In optimize(cvfcn, c(0, maxlam), tol = 0.01) : NA/Inf replaced by maximum positive value") using fosr (my data set has # observations ~ 400).

I noticed that when lambda is specified a vector, the pathological example that @julia-wrobel  provided still throws an error, rather than a warning. That is:

`library(refund)
library(tidyverse)
set.

[2021-03-11 21:13] muschellij2 opened #97 "No details for fpca.face"
`fpca.face` indicates what the data is via `Details` at https://github.com/refunders/refund/blob/master/R/fpca.face.R#L8 but there are no details in this help file

[2022-06-13 15:00] mynanshan opened #99 "Extend FACE method to irregularly observed data"
https://github.com/refunders/refund/blob/eb6af5c54779710b75cfff36acae3eec20189a2d/R/fpca.face.R#L159

All FPCA functions in the package `refund` provide two arguments for data input, `Y` for a observation matrix observed on a common grid and `ydata` for irregularly observed data. However, the ydata option is not always available, for example, when using `fpca.face`. I guess the reason is that the

[2022-06-13 15:33] fabian-s commented on #99
Hi @mynanshan  -- they put this stuff in their own separate package, you can find a FACE implementation for sparse/irregular data here: https://cran.r-project.org/web/packages/face/index.html

[2022-06-13 15:36] fabian-s commented on #99
@jeff-goldsmith @julia-wrobel:  are we ever going to re-implement this or import and re-export the `face`-package?
If not, feel free to close this issue.

(Also: I think it might be worthwhile to do a review/benchmarking paper on methods for functional covariance operator estimation sometime, there are SO MANY and there are lots of interesting complications/nuances......)

[2022-06-13 16:56] mynanshan commented on #99
Thanks for the reference!

[2022-06-13 16:56] jeff-goldsmith commented on #99
I feel a bit strange having a somewhat-out-of-date and unsupported function in `refund`. I suppose we could remove `fpca.face` from `refund` (in a staggered way, with a message and pointer to the `face` package).

I'd be okay with importing and exporting the face package as part of `refund` -- already have oodles of dependencies and this seems like a function folks use -- but don't know if that's

[2022-06-16 07:41] fabian-s opened #100 "prediction for rank-1 ffpc terms is broken"
[code]
gives
[code]

[2022-06-16 07:53] fabian-s commented on #100
when the revolution finally comes, the person who set `[, , drop = TRUE]` as R's default will be first on the guillotine.

[2022-07-12 14:34] #79 closed, assigned to nobody

[2022-08-15 07:32] fhui28 opened #101 "Variables loaded into global environment when a parametric term in included"
Hi refunders,

I do not know if it is just my computer, or I am missing something silly. But something weird is going when I include a parametric term in `pfr`, as it for some reason then attaches the corresponding data frame to the global environment. Please see below for an example.

Thanks heaps in advance!

[code]

Fine

[code]

Why are all the variables in DTI1 suddenly loaded into the enviro

[2022-10-05 14:03] #100 closed, assigned to nobody